<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-head mt-3 mb-5 text-center">Add Products</h2>
      <form [formGroup]="addProductForm" class="row" (ngSubmit)="AddProduct()">
        <div class="mb-3 col-lg-12">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" formControlName="title">
        </div>
        <div class="mb-3 col-lg-3">
          <label for="department">Department</label>
          <select formControlName="department" id="department" class="form-control">
            <option value="men">Men</option>
            <option value="women">Women</option>
          </select>
        </div>
        <div class="mb-3 col-lg-3">
          <label for="category">Category</label>
          <select formControlName="category" id="category" class="form-control">
            <option value="jeansPant">Jeans Pants</option>
            <option value="jeansShirt">Jeans shirts</option>
          </select>
        </div>
        <div class="mb-3 col-lg-2">
          <label for="style-no">Style#</label>
          <input type="text" id="style-no" class="form-control" formControlName="styleNo">
        </div>
        <div class="mb-3 col-lg-2">
          <label for="p-color">Color</label>
          <input type="text" id="p-color" class="form-control" formControlName="color">
        </div>
        <div class="mb-3 col-lg-2">
          <label for="price">Price</label>
          <input type="text" id="price" class="form-control" formControlName="price">
        </div>
        <div class="mb-3 col-lg-12" formGroupName="fabricDetails">
          <h3>Fabric:</h3>
          <div class="row">
            <div class="col-lg-4">
              <label for="fabric-type">Type</label>
              <input type="text" class="form-control mb-3" id="fabric-type" formControlName="type">
            </div>
            <div class="col-lg-4">
              <label for="fabric-content">Content</label>
              <input type="text" class="form-control mb-3" id="content" formControlName="content">
            </div>
            <div class="col-lg-4">
              <label for="fabric-stretch">Stretch</label>
              <select id="fabric-stretch" formControlName="stretchbility" class="form-control">
                <option value="stretch">Stretch</option>
                <option value="nonStretch">Non Stretch</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mb-3 col-lg-12" formGroupName="washDetails">
          <h3>Washes:</h3>
          <div class="row">
            <div class="col-lg-3">
              <label for="destroyed" class="d-block">
                <input type="checkbox" id="destroyed" value="destroyed" formControlName="destroyed"> Destroyed
              </label>
            </div>
            <div class="col-lg-3">
              <label for="whiskers" class="d-block">
                <input type="checkbox" id="whiskers" value="whiskers" formControlName="whiskers"> Whiskers
              </label>
            </div>
            <div class="col-lg-3">
              <label for="wrinkles" class="d-block">
                <input type="checkbox" id="wrinkles" value="wrinkles" formControlName="wrinkles"> Wrinkles
              </label>
            </div>
            <div class="col-lg-3">
              <label for="faded" class="d-block">
                <input type="checkbox" id="faded" value="faded" formControlName="faded"> Faded
              </label>
            </div>
          </div>
        </div>
        <div class="mb-3 col-lg-12">
          <div class="row">
            <div class="col-lg-3" formGroupName="sizes">
              <h3>Sizes:</h3>
              <div class="mb-3">
                <input type="text" class="form-control mb-3" *ngFor="let size of sizes.controls; let i=index" [formControlName]="i">
              </div>
              <div class="mb-3">
                <button type="button" class="btn btn-link" (click)="addSize()">Add size</button>
              </div>
            </div>
            <div class="col-lg-3" formGroupName="quantity">
              <h3>Quantity:</h3>
              <div class="mb-3">
                <input type="text" class="form-control mb-3" *ngFor="let quantity of quantity.controls; let i=index" [formControlName]="i">
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 col-lg-12">
          <ul class="images-list row" formGroupName="images">
            <li class="mb-4 col-lg-4">
              <label for="front-img" class="d-block">Front Image</label>
              <input type="file" #fileInputFront (click)="fileInputFront.value = ''"  id="front-img" formControlName="frontImage">
            </li>
            <li class="mb-4 col-lg-4">
              <label for="back-img" class="d-block">Back Image</label>
              <input type="file" #fileInputBack (click)="fileInputBack.value = ''" id="back-img" formControlName="backImage">
            </li>
            <li class="mb-4 col-lg-4">
              <label for="side-pose" class="d-block">Image 1</label>
              <input type="file" #fileInputOne (click)="fileInputOne.value = ''" id="other-img1" formControlName="Img1">
            </li>
            <li class="mb-4 col-lg-4">
              <label for="other-img" class="d-block">Image 2</label>
              <input type="file" #fileInputTwo (click)="fileInputTwo.value = ''" id="other-img2" formControlName="Img2">
            </li>
            <li class="mb-4 col-lg-4">
              <label for="size-chart" class="d-block">Size chart</label>
              <input type="file" #fileInputChart (click)="fileInputChart.value = ''" id="size-chart" formControlName="sizeChart">
            </li>
          </ul>
        </div>
        <div class="mb-3 col-lg-12">
          <label for="p-desc">Description</label>
          <textarea rows="7" class="form-control" id="p-desc" formControlName="description"></textarea>
        </div>
        <div class="mb-3 col-lg-12 text-right">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
