<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="login-page">
      <h2 class="page-head">Admin Sign-in</h2>
      <form action="#" class="login-form">
        <div class="input-wrap clearfix">
          <label for="user-email">Email</label>
          <input type="text" id="user-email" name="user_email" class="user-email">
        </div>
        <div class="input-wrap clearfix">
          <label for="user-pass">Password</label>
          <input type="password" id="user-pass" name="user_pass" class="user-pass">
        </div>
        <div class="input-wrap clearfix">
          <input type="submit" value="Sign in" class="btn-submit">
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
