<app-header></app-header>
  <div class="container">
    <h2 class="page-head">Orders (1500)</h2>
    <div class="table-wrap">
      <table>
        <thead>
          <tr>
            <td class="w-10"><a href="#">Style# <i class="fa fa-sort"></i></a></td>
            <td class="w-10">Image</td>
            <td class="w-40">Name</td>
            <td class="w-5"><a href="#">Stock <i class="fa fa-sort"></i></a></td>
            <td class="w-10"><a href="#">Price <i class="fa fa-sort"></i></a></td>
            <td class="w-15"><a href="#">Status <i class="fa fa-sort"></i></a></td>
            <td class="w-10"><a href="#">Date <i class="fa fa-sort"></i></a></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>LJ-10256</td>
            <td><a href="#"><img src="images/img1.png"></a></td>
            <td>Stretchable blue denim Pant 100% Cotton</td>
            <td>5000</td>
            <td>5000</td>
            <td>Delivered</td>
            <td>15-Dec-2016</td>
          </tr>
          <tr>
            <td>LJ-10256</td>
            <td><img src="images/img1.png"></td>
            <td>Stretchable blue denim Pant 100% Cotton</td>
            <td>5000</td>
            <td>5000</td>
            <td>Canceled</td>
            <td>15-Dec-2016</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<app-footer></app-footer>
